.topside {
    margin-top: -25px;
    margin-left: -289px;
    margin-right: -189.2;
    width: 245.3vh;
    max-height: 400px;
    background-color: red;
    overflow: hidden;
}

.column1 {
  height: 50vh;
}

.topimg {
    margin: 1px 0 0 515px;
    width: 110vh;
    height: 50vh;
    position: cover;
    opacity: 0.5;
}

.texttop {
    position: absolute;
    color: white;
    font-family:'Nunito';
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 65px;
}

.botside {
    margin-left: -289px;
    width: 215vh;
    height: 400 px;
    background-color: white;
    overflow: hidden;
}

.column2 {
  height: 50vh;
}

.botimg {
    margin: 50px 0 0 470px;
    height: 80vh;
    position: cover;
    opacity: 0.1;
}

.textbot {
    text-align: justify;
    position: absolute;
    color: black;
    font-family:'Nunito';
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

@media screen and (min-width:460px) {
  .leftside, .rightside, img {
      height: 100vh;  
  }
}